@import url("classless.css");

html > body {
    background: linear-gradient(135deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    grid-template-areas:
        "nav nav nav profile"
        "main main main side"
        "main main main side"
        "main main main side";
    justify-content: stretch;
    justify-items: stretch;
    place-content: stretch stretch;
    box-sizing: border-box;
    margin: 0;
    gap: 20px;
}

section.scroll {
    overflow-y: auto;
}

html > body > section.nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

html > body > section.profile {
    grid-area: profile;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

html > body > section.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: start;
}

html > body > section.side {
    grid-area: side;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
